{% extends 'base.html.twig' %}

{% block title %}TARIFS- GF LÉMAN{% endblock %}

{% block content %}

 <div class="row featurette">
            <div class="col-md-7 order-md-1">
              <h2 class="featurette-heading">TARIFS</h2><br>  
              <p class="lead">Les tarifs sur DEVIS, sont évoqués en HT. Ils tiennent compte de la difficulté d'intervention:</p>
              <p class="lead">- À hauteur d'humain, facile d'accès.</p>
              <p class="lead">- Nécessitant une perche, une échelle.</p>
              <p class="lead">- Difficile d'accès: cheminées, sous tuiles, endroits très encombrés.</p>
              <p class="lead">- Majoration pour dimanches et jours fériés.</p>
                
            </div>
            <div class="col-md-5 order-md-2">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
  </div>

{% endblock %}
