{% extends 'base.html.twig' %}


{% block title %} INTERVENTIONS- GF LÉMAN {% endblock %}
{% block content %}

   <div class="row featurette">
            <div class="col-md-7 order-md-1">
              <h2 class="featurette-heading">INTERVENTIONS</h2><br>  
              <p class="lead">N'intervenez surtout pas vous mêmes pour détruire un nid de guêpes ou de frelons!
              Cela peut s'avérer dangereux: piqûres,allergies, ou même pire: mortel, le frelon asiatique étant très agressif.
              Avec le retour des journées chaudes et ensoleillées, les guêpes et frelons apparaissent à la recherche
              de nourriture et de lieux pour constituer leurs nids. Leurs présence et proximité avec l'humain peut devenir
              problématique et ce malgré leur utilité dans la biodiversité. Il faut donc les détruire. Et pour cela, il faut
              faire appel à un professionnel agréé CERTIBIOCIDE. Je m'occupe également de la destruction des fourmilières;
              l'envahissement des fourmis à l'intérieur des habitations peuvent être source de problèmes.
              </p>
                
            </div>
            <div class="col-md-5 order-md-2">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
  </div>

        <hr class="featurette-divider">

  <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">ZÔNES D'INTERVENTIONS</h2><br>  
              <p class="lead">J'interviens sur tout le bassin lémanique français: à savoir la Haute-Savoie et le Pays de Gex.
              Des frais supplémentaires peuvent entrer en compte selon la distance.
              </p>
                
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
  </div>
  
{% endblock %}
