{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Afrobio {% endblock %}

{% block content %}
   <h2>Nous contacter</h2>
   <p>N'hésitez pas à prendre contact avec moi, je vous répondrai dans les meilleurs délais.</p>

   {% for message in app.flashes('notice') %}
       <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

   <div class="row">
     <div class="col-md-8">{{ form(form)}}</div>
     <div class="col-md-4">
       <strong>GF LÉMAN</strong>
       <hr>
       Téléphone : +33 (0) 6 44 85 26 54 <br>
       Email     : contact@gfleman.fr
     </div>   
   </div>

{% endblock %}
